<div class="container">

<br>
<hr>

<footer>
	<p>You can contact me via:</p>
	<ul class="list-unstyled">
		<li>Email: <a href="mailto://fatclient@protonmail.com">Email</a></li>
		<li>Via <a href="https://t.me/pandeliverance">telegram</a></li>
		<li>Yes, you can call me! </li>
		<li id='ifu'>My phone number can be found on my CV page on hh.ru where you probably came from</li>
	</ul>
</footer>
</div>
<script src="/js/jquery.slim.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>