<div class="container">
<header>
	<h1>Sample site</h1>
	<h2>Everyone should have one!</h2>
<nav>
	<span><a href="/">Home</a></span>
	<span><a href="/about">About</a></span>
	<span><a class="text-muted" href="/help">Help</a></span>
	<span><a href="/tasklist">Tasklist</a></span>
	<span><a href="/weather">Weather</a></span>
	<span id="other"><a title="You will get 404" class="text-muted" href="/other">Other</a></span>
</nav>


</header>		

</div>

