footer
	.page-footer.grey
		p You can contact me via:
		ul.list-unstyled
			li 
				a.white-text(href="mailto://fatclient@protonmail.com") Email
			li
				a.white-text(href="https://t.me/pandeliverance") telegram
