header

	ul#dropdown_usermenu.dropdown-content
		li
			a(href="/profile") Profile
		li
			a(href="/preferences") Preferences
		li.divider

		li
			a(href="/logout") Logout


		

	nav.grey
		.nav-wrapper
			a.brand-logo.right(href="/") Tasklist app
			ul
				li
					a(href="/") Home
				li
					a(href="/about") About
				
				if !authenticated
					li
						a(href='/login') Sign in
				
				if authenticated
					li
						a.dropdown-trigger(href="#!", data-target="dropbox_usermenu") 
							=user.username 
							i.material-icons.right arrow_drop_down

				li
					a(title="You will get 404", class="text-muted", href="/other") Other


