extends layout.pug

block content
    .container.main
        h3= message
        p.
            Hello. 
            This is what you expect to find here.
            You can sign up and CRUD some todo's
            Don't take it serious, this app is ephemeral and may be deleted in five minutes.
            or not, who knows?

