extends layout.pug

block content
    .container.main.row.center
        h3= message
        form(method="POST", action="/users").col.s12
            .row
                .input-field.col.s6
                    label(for="username") Username
                    input#username(type="text", name="username")
            .row
                .input-field.col.s6
                    label(for="username") Password
                    input#password(type="password", name="password", class="validate")
                    span.helper-text(data-error="wrong" data-success="right")
            .row
                .input-field
                    button.btn-large.wawes-effect.wawes-light(name="action",type="submit") Login
                        i.material-icons.right arrow_forward