doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title= pageTitle
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", type="text/css", href="/style/common.css")
    block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="/js/scripts.js")

body
    block layout