{{> head}}

{{> header}}


	<div class="container">
		<h3>{{mainText}}</h3>
	<div id='about-text'>
	<img src="/images/about-filler.jpg" title="japaneze woman with cat" class="img-fluid float-left">

	<p>First of all, I like to see results of my work as soon as possible, so I enjoy doing back-end stuff. Few lines of code - and a simple http-server in working.</p>

	<p>...But unfortunately for me, I'm not gifted in doing beautiful user interfaces. It's kinda my childhood's trauma, when I tried to learn some html and css: without full understanding of networking processes, I got stuck on one-page static sites and was bored to death. However, with modern view of SPA, my childhood dreams are becoming true nowdays.</p>

	<p>Yep, I adore Node.js . I've started my serious programming lessons with python, then got some skills of PHP, but JS went out to be the most convinient tool for me. It was like I already know how to code, everything is quite obvious, so I had to spent time only to learn names of functions. Async-stuff, which may confuse, was like a gift for me, I just like a magician can control data streams whithin my code. It's fantastic.</p>

	</div>

</div>
{{> footer}}
