{{> head}}
<body>
{{> header}}
<div class="container">
<p>We are sorry to say, that there's some issues (what a shame).</p>

<p>Shit happens</p>

<script type="text/javascript">
	
</script>
</div>

{{> footer}}
</body>