{{> head}}

{{> header}}

 
<div class="container">

<h3>{{mainText}}</h3>

<p> As you can see, it's my home page, so let me introduce myself. First of all, as you can see, I'm totally not a web designer (at least for now). My name is Max Ermakov and my field is back-end programming.

I'm 20, and I'm looking for a job, so I hope you are hiring.

Some things I can help you with:
<ul>
	<li>create an API for your needs</li>
	<li>Set up routing</li>
	<li>Set up and configure database, wheither SQL or NoSQL</li>
	<li>Varios back-end help</li>
</ul>

This site is driven on node.js, has couple of REST APIs, mongodb connection, user authentication, some features with requesting to external APIs and is currently not in it's final state (btw it's my live-cv so probably it will never be finished).

I'm not asking for much.
My contact delails are below.
</p>


</div>

{{> footer}}
