@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Audiowide');





/*header {
	width: 100%;
	background-color: grey;
	height: 50px;
	margin-top: -15pt;
	margin-left: -6pt ; 
	padding: 40pt;
	margin-bottom: 10pt; 
}*/



a {
	font-family: Rubik;
	text-decoration: none;
	color: white;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-o-transition: all.6s ease;
}
a:hover {
	color: darkblue;
	text-decoration: underline;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-o-transition: all.6s ease;
}





/*
#about{
	float: right;
	text-transform: uppercase;
}
#auth{
	margin-top: -10px;
	float: left;
	text-transform: bold;
}
#logo>span{
	color: rgba(255,255,255,95%);
	float: block;
	font-family: "Audiowide";
	font-size:  80px;
	margin-bottom: 210px;
}
*/
/*p{
	background-color: inherit('bg-faded');

}

hr {

	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid silver;
}

header {
	float: left;
	background-color: black;
	color: white;
	width: 100vw;

	border-bottom: 4px solid indigo;
	margin-bottom: 1.5em;
}

header>h1,h2 {

	padding-left: 7vw;
}

/*  Navigation  */

/*nav {
	background-color: silver;
	width: 100vw;
		
	padding-left: 7vw;
	float: left;
	border-bottom: 3px solid grey;
}



nav>a{

	padding-left: 7vw;
	color: #646568;
	margin-left: 7%;
	float:center;
	padding-left: 7vw;
}



nav>#other{
	font-family: "Rubik";
	float: right;
	cursor: pointer;
	margin-right: 12px;
}*/

#about-text>img {
	width: 200px;

}